body{
  background-color: $cream;
}

.index-page{
  max-width: 90%;
  margin: 0 auto;
}

.name{
  margin: 0 auto;
  font-family: $headerfont;
  color:$teal;
  overflow: auto;
  padding: 0 10px;
  padding-bottom: 60px;
}

#chelsey{
  display: inline-block;
  font-size: 8em;
  // float: right;
  font-family: $headerfont;
}
#title{
  clear: both;
  font-size: 3.5em;
  color:$green;
  padding-top: 30px;
  padding-left: 400px;
  float: right;
  font-family: $headerfont;
  padding-bottom: 80px;
}

.choices {
  clear: both;
  margin: 0 auto;
  font-family: $headerfont;
  overflow: auto;
  max-width: 100%;
}

.circle{
  font-size: 2.5em;
  height: 275px;
  width: 275px;
  float:left;
  color: $cream;
  border-radius: 50%;
  text-align: center;
  margin: 30px;
  position: absolute;
}

.circle p{
  margin-top: 40%;
}

#circle-left {
  background-color: $greenOp;
  transition: all .5s ease-out;
}

#circle-left:hover{
  width: 320px;
  height: 320px;
}

#circle-center{
  background-color: $pinkOp;
  margin-left: 33%;
  transition: all .5s ease-out;
}

#circle-center:hover{
  width: 320px;
  height: 320px;
}

#circle-right{
  background-color: $tealOp;
  margin-left: 66%;
  transition: all .5s ease-out;
}

#circle-right:hover{
  width: 320px;
  height: 320px;
}
