.what-head .what {
  font-size: 3.5em;
  margin-top: 5px;
  animation: fontBuldge 1.5s;
}

.info{
  font-family: $headerfont;
  float: left;
  width: 30%;
}
.info h1{
  font-size: 4em;
  color: $pink;
  animation: H1loadIt 1.5s;
}

.what-page{
  margin-top: 30px;
}
.what-page p{
  font-family: $bodyfont;
  font-size: 1.5em;
}

.projects{
  float: right;
  width: 70%;
  margin: 0 auto;
}

.projects p{
  font-family: $bodyfont;
  font-size: 1.5em;
  color:$teal;

}

.img-container{
  padding:1%;
  text-align: center;
  float: left;
  width: 31.3%;
  border-radius: 10px;
}

.the-image{
  margin-top: 5px;
  animation: grow 1.5s;
  object-fit: fill;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  filter: opacity(.7) sepia(1);
}

.the-image:hover{
  filter: none;
}

.contact {
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: $tealOp;
  transition: all .5s ease-out;
}

.contact:hover{
  height: 110px;
  width: 110px;
}
