/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans+Condensed:300");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  /* no underline */
  color: inherit; }

a:visited {
  color: inherit; }

@keyframes fontBuldge {
  0% {
    font-size: 1.5em; }
  100% {
    font-size: 3.5em; } }

@keyframes H1loadIt {
  0% {
    font-size: 0; }
  100% {
    font-size: 4em; } }

@keyframes H3loadIt {
  0% {
    font-size: 0; }
  100% {
    font-size: 2.7em; } }

@keyframes grow {
  0% {
    height: 0px; }
  100% {
    height: 200px; } }

body {
  background-color: #f9f4e4; }

.index-head {
  display: none; }

.index-page {
  max-width: 960px;
  margin: 0 auto; }

.top {
  font-family: "Fredericka the Great", cursive;
  margin: 30px 10px;
  max-width: 800px;
  clear: both;
  padding-bottom: 100px; }

.chelsey {
  color: #007b8d;
  font-size: 8em;
  font-family: "Fredericka the Great", cursive; }

.title {
  font-size: 3.5em;
  color: #a9ad00;
  float: right;
  font-family: "Fredericka the Great", cursive; }

.choices {
  margin: 100px auto;
  font-family: "Fredericka the Great", cursive;
  max-width: 100%;
  position: relative; }

.circle {
  font-size: 2.5em;
  height: 275px;
  width: 275px;
  float: left;
  color: #f9f4e4;
  border-radius: 50%;
  text-align: center;
  position: absolute; }

.circle p {
  padding-top: 40%; }

#circle-left {
  background-color: rgba(169, 173, 0, 0.8);
  transition: all .5s ease-out; }

#circle-left:hover {
  width: 300px;
  height: 300px; }

#circle-center {
  background-color: rgba(197, 0, 89, 0.8);
  margin-left: 33%;
  transition: all .5s ease-out; }

#circle-center:hover {
  width: 300px;
  height: 300px; }

#circle-right {
  background-color: rgba(0, 123, 141, 0.8);
  margin-left: 66%;
  transition: all .5s ease-out; }

#circle-right:hover {
  width: 300px;
  height: 300px; }

@media (max-width: 980px) {
  #circle-left:hover {
    width: 300px;
    height: 300px; }
  #circle-center:hover {
    width: 300px;
    height: 300px; }
  #circle-right:hover {
    width: 300px;
    height: 300px; } }

@media (max-width: 920px) {
  #circle-left:hover {
    width: 275px;
    height: 275px; }
  #circle-center:hover {
    width: 275px;
    height: 275px; }
  #circle-right:hover {
    width: 275px;
    height: 275px; } }

@media (max-width: 850px) {
  .circle {
    position: relative;
    float: none;
    height: 275px;
    width: 275px; }
  #circle-left {
    margin: 5px auto; }
  #circle-left:hover {
    width: 320px;
    height: 320px; }
  #circle-center {
    margin: 5px auto; }
  #circle-center:hover {
    width: 320px;
    height: 320px; }
  #circle-right {
    margin: 5px auto; }
  #circle-right:hover {
    width: 320px;
    height: 320px; }
  .circle p {
    margin: auto; } }

@media (max-width: 815px) {
  header {
    text-align: center; }
  .title {
    float: none; } }

@media (max-width: 540px) {
  .chelsey {
    font-size: 4em;
    text-align: center; }
  .title {
    padding: 10px;
    font-size: 2em; }
  .circle {
    font-size: 1.5em;
    height: 200px;
    width: 200px; } }

.index-head {
  opacity: 0; }

.index-head ul {
  background-color: #939598;
  height: 80px;
  font-family: "Fredericka the Great", cursive; }

.index-head li {
  color: #f9f4e4;
  padding: 10px;
  margin: 20px;
  float: right;
  font-size: 24px; }

.reg-head p {
  float: left;
  color: #939598;
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  font-family: "Shadows Into Light Two", cursive;
  color: #007b8d; }

.reg-head ul {
  height: 80px;
  font-family: "Fredericka the Great", cursive; }

.reg-head li {
  padding: 10px;
  margin: 20px;
  float: right;
  font-size: 1.5em; }

.who {
  color: #a9ad00; }

.what {
  color: #c50059; }

.how {
  color: #007b8d; }

.who-head .who {
  font-size: 3.5em;
  margin-top: 5px;
  animation: fontBuldge 1.5s; }

.who-page {
  font-family: "Fredericka the Great", cursive; }

.container {
  position: relative;
  margin: 30px;
  max-width: 96%;
  padding-bottom: 30px; }

.photo {
  float: right; }

.photo img {
  height: 300px;
  filter: opacity(0.8) sepia(1);
  border-radius: 15px;
  margin: 0 auto; }

.info {
  float: left;
  width: 70%; }

.info h1 {
  font-family: "Fredericka the Great", cursive;
  color: #a9ad00;
  font-size: 4em;
  padding-bottom: 20px;
  animation: H1loadIt 1.5s; }

.info p {
  font-family: "Shadows Into Light Two", cursive;
  color: #007b8d;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-bottom: 20px; }

.info span {
  font-weight: bold; }

.info h3 {
  font-family: "Fredericka the Great", cursive;
  color: rgba(169, 173, 0, 0.8);
  font-size: 2.7em;
  padding-bottom: 20px;
  animation: H3loadIt 1.5s; }

.contact {
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 123, 141, 0.8);
  transition: all .5s ease-out; }

.contact:hover {
  height: 110px;
  width: 110px; }

.contact p {
  margin-top: 35%;
  text-align: center;
  font-family: "Shadows Into Light Two", cursive;
  color: #f9f4e4;
  font-size: 1.5em; }

.what-head .what {
  font-size: 3.5em;
  margin-top: 5px;
  margin-bottom: 30px;
  animation: fontBuldge 1.5s; }

.what-page .info {
  font-family: "Fredericka the Great", cursive;
  float: left;
  width: 30%; }

.what-page .info h1 {
  font-size: 4em;
  color: #c50059;
  animation: H1loadIt 1.5s;
  margin-top: 30px; }

.what-page .info h3 {
  font-family: "Fredericka the Great", cursive;
  color: rgba(197, 0, 89, 0.8);
  font-size: 2.7em;
  padding-bottom: 20px;
  animation: H3loadIt 1.5s; }

.what-page {
  max-width: 95%;
  margin: 0 auto; }

.what-page p {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 1.5em; }

.projects {
  float: right;
  width: 70%;
  margin: 0 auto; }

.projects p {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 1.5em;
  color: #007b8d; }

.img-container {
  padding: 1%;
  text-align: center;
  float: left;
  width: 31.3%;
  border-radius: 10px; }

.the-image {
  margin-top: 5px;
  animation: grow 1.5s;
  object-fit: fill;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  filter: opacity(0.7) sepia(1); }

.the-image:hover {
  filter: none; }

.contact {
  border-radius: 50%;
  position: fixed;
  bottom: -1;
  right: -1;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 123, 141, 0.8);
  transition: all .5s ease-out;
  padding: 5px; }

.contact:hover {
  height: 110px;
  width: 110px; }

.list ul {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 1.5em;
  color: #007b8d;
  list-style-type: disc; }

.list {
  padding: 30px;
  line-height: 2em; }

.code {
  float: left;
  width: 50%; }

.design {
  float: left;
  width: 50%; }

#blog:hover {
  color: rgba(169, 173, 0, 0.8); }

#linked-in:hover {
  color: rgba(169, 173, 0, 0.8); }

.how-head .how {
  font-size: 3.5em;
  margin-top: 5px;
  animation: fontBuldge 1.5s; }

.how-page .container h1 {
  font-family: "Fredericka the Great", cursive;
  color: #007b8d;
  font-size: 4em;
  padding-bottom: 20px;
  animation: H1loadIt 1.5s; }

.how-page .container p {
  font-family: "Shadows Into Light Two", cursive;
  color: #939598;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-bottom: 20px; }

.how-page .container h3 {
  font-family: "Fredericka the Great", cursive;
  color: rgba(0, 123, 141, 0.8);
  font-size: 2.7em;
  padding-bottom: 20px;
  animation: H3loadIt 1.5s; }

.how-page .container li {
  text-align: center;
  float: left;
  font-family: "Shadows Into Light Two", cursive;
  color: #f9f4e4;
  font-size: 1.7em;
  margin: 10px;
  padding: 20px;
  height: 20px;
  background-color: #939598;
  border-radius: 25px;
  overflow: hidden;
  width: 20%; }

.how-page .container li:hover {
  height: auto; }

.how-page .container li p {
  padding-top: 10px;
  font-family: "Shadows Into Light Two", cursive;
  font-size: .8em;
  padding-left: 10px;
  color: #007b8d;
  text-align: left; }

.contact-head .contact-me {
  font-family: "Fredericka the Great", cursive;
  color: #007b8d;
  font-size: 3.5em;
  margin-top: 5px;
  animation: fontBuldge 1.5s; }

.contact-constraint {
  width: 70%; }

.contact-page h1 {
  font-family: "Fredericka the Great", cursive;
  color: #007b8d;
  animation: H1loadIt 1.5s;
  padding-bottom: 30px;
  font-size: 4em; }

.contact-page p {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 1.5em;
  color: #939598;
  padding-bottom: 30px; }

.contact-page p span {
  font-weight: bold; }

.contact-page h3 {
  font-family: "Fredericka the Great", cursive;
  color: rgba(0, 123, 141, 0.8);
  font-size: 2.7em;
  padding-bottom: 20px;
  animation: H3loadIt 1.5s; }
