

.contact-constraint{
  float:left;
  width: 100%;
}


.contact-page p{
  font-family: $bodyfont;
  font-size: 1.5em;
  line-height: 1.5em;
  color: $teal;
  padding-bottom: 40px;
}

.contact-page p span{
  font-weight: bold;
}
.contact-page li{
  font-family: $bodyfont;
  font-size: 1.5em;
  line-height: 1.5em;
  color: $teal;
}

.contact-page li:hover{
  color:$grey;
}
.contact-page ul{
  padding-bottom:0px;
}
.contact-page h3{
  font-family: $headerfont;
  color: $grey;
  font-size: 2.7em;
  padding-bottom: 10px;
  // animation: H3loadIt 1.5s;
}
