.reg-head p{
  float:left;
  padding: 5px;
  margin: 5px;
  font-size: 2em;
  font-family: $bodyfont;
  color: $teal;
}

.reg-head ul{
  font-family: $bodyfont;
}

.reg-head li{
  padding: 10px;
  margin: 10px;
  float:right;
  font-size: 1.5em;
}

.who{
  color:$green;
  margin: 10px;
  float:right;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 5px dashed $cream;
}

.who:hover{
font-weight: bold;
border-bottom: 5px dashed $green;
}

.what{
  color: $pink;
  margin: 10px;
  float:right;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 5px dashed $cream;
}

.what:hover{
font-weight: bold;
border-bottom: 5px dashed $pink;
}

.how{
  margin: 10px;
  float:right;
  font-size: 1.5em;
  font-weight: bold;
  color:$teal;
  border-bottom: 5px dashed $cream;
}

.how:hover{
font-weight: bold;
border-bottom: 5px dashed $teal;
}

.contact-me{
  display: none;
  color:$grey;
}
.contact-me:hover{
  font-weight: bold;
  border-bottom: 5px dashed $grey;
}

#who-id{
  border-bottom: 5px dashed $green;
}
#what-id{
  border-bottom: 5px dashed $pink;
}
#how-id{
  border-bottom: 5px dashed $teal;
}
#contact-me{
border-bottom: 5px dashed $grey;
}

.contact {
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  background-color: $tealOp;
  transition: all .5s ease-out;
}

.contact:hover{
  height: 110px;
  width: 110px;
}

.contact p{
  margin-top: 35%;
  text-align: center;
  font-family: $bodyfont;
  color:$cream;
  font-size: 1.5em;
}
.the-img{
  float: right;
  height: 40px;
  width: 40px;
  display: none;
}

@import "media/headerMedia";
