.how-head .how {
  margin: 10px;
  float:right;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 5px dashed $teal;
}


// .how-page .container h1{
//   font-family: $headerfont;
//   color: $tealOp;
//   font-size: 4em;
//   padding-bottom: 20px;
//   animation: H1loadIt 1.5s;
// }

.how-page .container p{
  font-family: $bodyfont;
  color: $teal;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.how-page .container h3{
  font-family: $headerfont;
  color: $tealOp;
  font-size: 2.7em;
  padding-bottom: 20px;
  // animation: H3loadIt 1.5s;
}

.how-page .container li{
  text-align: center;
  // float: left;
  font-family: $bodyfont;
  color:$cream;
  font-size: 1.7em;
  margin: 10px;
  padding: 20px;
  height: 20px;
  background-color: $grey;
  border-radius: 25px;
  overflow: hidden;
  width: 22%;
}
.how-page .container li:hover{
  height: auto;
}

.how-page .container li p{
  padding-top: 10px;
  font-family: $bodyfont;
  font-size: .8em;
  padding-left: 10px;
  color:$teal;
  text-align: left;
}
