$cream:rgba(249, 244, 228, 1.0);
$teal:rgba(0, 123, 141, 1.0);
$pink:rgba(197, 0, 89, 1.0);
$grey:rgba(147, 149, 152, 1.0);
$green:rgba(169, 173, 0, 1.0);

$tealOp:rgba(0, 123, 141, .8);
$pinkOp:rgba(197, 0, 89, .8);
$greenOp:rgba(169, 173, 0, .8);
$greyOp:rgba(147, 149, 152, .5);
$creamOp:rgba(249, 244, 228, .5);
