.what-head .what{
  margin: 10px;
  float:right;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 5px dashed $pink;
}

.what-page .info{
  font-family: $headerfont;
  float: left;
  width: 30%;
}
.what-page .info h1{
  font-size: 4em;
  color: $pink;
  animation: H1loadIt 1.5s;
  margin-top: 30px;
}

.what-page .info h3{
  font-family: $headerfont;
  color: $pinkOp;
  font-size: 2.7em;
  padding-bottom: 20px;
  animation: H3loadIt 1.5s;
}
.what-page{
  max-width: 80%;
  margin:0 auto;
}
.what-page p{
  font-family: $bodyfont;
  font-size: 1.5em;
}

.projects{
  float: right;
  width: 70%;
  margin: 0 auto;
}

.projects p{
  font-family: $bodyfont;
  font-size: 1.5em;
  color:$teal;

}

.img-container{
  padding:1%;
  text-align: center;
  float: left;
  width: 31.3%;
  border-radius: 10px;
}

.the-image{
  margin-top: 5px;
  animation: grow 1.5s;
  object-fit: fill;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  filter: opacity(.7) sepia(1);
}

.the-image:hover{
  filter: none;
}

.contact {
  border-radius: 50%;
  position: fixed;
  bottom: -1;
  right: -1;
  width: 100px;
  height: 100px;
  background-color: $tealOp;
  transition: all .5s ease-out;
  padding: 5px;
}

.contact:hover{
  height: 110px;
  width: 110px;
}

.list ul{
  font-family: $bodyfont;
  font-size: 1.5em;
  color:$teal;
  list-style-type: disc;
}
.list{
  padding: 30px;
  line-height: 2em;
}
.code{
  float: left;
  width: 50%;
}

.design{
  float: left;
  width: 50%;
}

#blog:hover{
  color:$greenOp;
}

#linked-in:hover{
  color:$greenOp;
}
