

.info{
  padding: 50px;
  height:auto;
}
.img-container-left{
float: left;
width: 47%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 300px;
border-radius: 10px;
position: relative;
}


.img-container-left:hover{
  opacity: 1;
  filter: none;
}

.img-container-left:hover .details{
  opacity: 1;
}

.img-container-right{
float: right;
width: 47%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 300px;
border-radius: 10px;
position: relative;
}

.img-container-right:hover{
  opacity: 1;
  filter: none;
}

.img-container-right:hover{
  opacity: 1;
  filter: none;
}

.img-container-right:hover .details{
  opacity: 1;
}

.details{
  position: absolute;
  margin: 0 auto;
  bottom: -75px;
  height: 70px;
  opacity: 0;
  width: 100%;
}

.details li{
    color: $teal;
    font-family: $bodyfont;
    font-size: 2em;
    border-radius: 10px;
    border: 3px solid $greenOp;
    background-color: $greenOp;
    padding: 10px;
    text-align: center;
    filter: opacity(.7) sepia(1);
}

.github{
  float: left;
}
.github:hover{
  filter: none;
}

.work{
  float: right;
}

.work:hover{
  filter: none;

}

.CSS-Ref{
margin: 0 auto;
background-image: url("CSSRef.jpg");
object-fit: cover;
margin-bottom: 80px;
}

.VIVW {
  margin: 0 auto;
  background-image: url("VIVW.jpg");
  object-fit: fill;
  margin-bottom: 80px;
}

.wishlist{
  margin: 0 auto;
  background-image: url("WishList.jpg");
  object-fit: fill;
  margin-bottom: 80px;
}

.x-men{
  margin: 0 auto;
  background-image: url("xmen.jpg");
  object-fit: contain;
}

@import "media/whatMedia";
