
.img-container-left{
float: left;
width: 47%;
background-size: cover;
background-repeat: no-repeat;
height: 300px;
border-radius: 10px;
position: relative;
}

// .img-container-left:hover{
//   filter: opacity(.7) sepia(1);
// }

.img-container-left:hover{
  opacity: 1;
  filter: none;
}

.img-container-left:hover .details{
  opacity: 1;
}

.img-container-right{
float: right;
width: 47%;
background-size: cover;
background-repeat: no-repeat;
height: 300px;
border-radius: 10px;
position: relative;
}

.img-container-right:hover{
  opacity: 1;
  filter: none;
}

.img-container-right:hover{
  opacity: 1;
  filter: none;
}

.img-container-right:hover .details{
  opacity: 1;
}

.details{
  position: absolute;
  width: 50%;
  margin: 0 auto;
  bottom: -75px;
  left: 25%;
  height: 70px;
  opacity: 0;
}

.github{
  color: $teal;
  float: left;
  font-family: $bodyfont;
  font-size: 2em;
  border-radius: 10px;
  border: 3px solid $greenOp;
  background-color: $greenOp;
  padding: 10px;
  width: 100px;
  text-align: center;
  filter: opacity(.7) sepia(1);
}
.github:hover{
  filter: none;
}

.work{
  color: $teal;
  float: right;
  font-family: $bodyfont;
  font-size: 2em;
  border-radius: 10px;
  border: 3px solid $greenOp;
  background-color: $greenOp;
  padding: 10px;
  width: 100px;
  text-align: center;
  filter: opacity(.7) sepia(1);
}

.work:hover{
  filter: none;

}

.CSS-Ref{
margin: 0 auto;
background-image: url("CSSRef.jpg");
object-fit: cover;
margin-bottom: 80px;
}

.VIVW {
  margin: 0 auto;
  background-image: url("VIVW.jpg");
  object-fit: fill;
  margin-bottom: 80px;
}

.wishlist{
  margin: 0 auto;
  background-image: url("WishList.jpg");
  object-fit: fill;
  margin-bottom: 80px;
}

.x-men{
  margin: 0 auto;
  background-image: url("xmen.jpg");
  object-fit: contain;
}
