.who-page{
  font-family: $headerfont;
}


.info{
  float:left;
  width: 100%;
}

.info p{
  font-family: $bodyfont;
  color: $teal;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-bottom: 40px;
}

.info span{
  font-weight: bold;
}

.info h3{
  font-family: $headerfont;
  color: $greenOp;
  font-size: 2.7em;
}

.container {
  position: relative;
  margin: 0 auto;
  // max-width: 96%;
  padding-bottom: 30px;
  max-width: 80%;
}

@import "media/whoMedia";
