

.who-page{
  font-family: $headerfont;
}


.info{
  float:left;
  width: 100%;
}

.info p{
  font-family: $bodyfont;
  color: $teal;
  font-size: 1.5em;
  line-height: 1.5em;
  padding-bottom: 40px;
}

.info span{
  font-weight: bold;
}

.info h3{
  font-family: $headerfont;
  color: $greenOp;
  font-size: 2.7em;
}

.contact {
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  background-color: $tealOp;
  transition: all .5s ease-out;
}

.contact:hover{
  height: 110px;
  width: 110px;
}

.contact p{
  margin-top: 35%;
  text-align: center;
  font-family: $bodyfont;
  color:$cream;
  font-size: 1.5em;
}

@import "media/whoMedia";
