
@media (max-width:1000px) {
  .contact-me{
    display: inline;
  }
  .contact{
    display: none;
  }

}
@media (max-width: 780px) {
  .reg-head ul{
    height: 50px;
    overflow: hidden;
    border: 1px solid green;
  }
  .reg-head ul:hover{
    height: auto;
    overflow: auto;
  }
  .reg-head  li{
    float: none;
    padding: 5px;
    border-bottom: none;
  }

  .reg-head p{
    float: none;
    height: 22px;
    padding-bottom: 15px;
    font-weight: bold;
  }

  .who-head .who{
    float: none;
    border-bottom: none;
  }

  .how{
  float: none;
  padding: 5px;
  border-bottom: none;
  }

  .who:hover{
    border-bottom: none;
  }
  .what:hover{
    border-bottom: none;
  }

  .how:hover{
    border-bottom: none;
  }
  .contact-me:hover{
    border-bottom: none;
  }


}
 @media (max-width: 500px){
   .reg-head ul {
    //  border: 1px solid green;
     height: 50px;
     overflow: hidden;
     margin-bottom:20px
   }
   .reg-head ul:hover {
     overflow: auto;
     height: 210px;
     margin-bottom: 20px;
   }
 }
