@media (max-width: 980px) {
  #circle-left:hover{
    width: 300px;
    height: 300px;
  }

  #circle-center:hover{
    width: 300px;
    height: 300px;
  }
  #circle-right:hover{
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 920px) {
  #circle-left:hover{
    width: 275px;
    height: 275px;
  }

  #circle-center:hover{
    width: 275px;
    height: 275px;
  }
  #circle-right:hover{
    width: 275px;
    height: 275px;
  }
}

@media (max-width: 850px) {

  .circle{
    position: relative;
    float: none;
    height: 275px;
    width: 275px;
  }
  #circle-left{
    margin: 5px auto;
  }
  #circle-left:hover{
    width: 320px;
    height: 320px;
  }

  #circle-center{
    margin: 5px auto;
  }
  #circle-center:hover{
    width: 320px;
    height: 320px;
  }

  #circle-right{
    margin: 5px auto;
  }
  #circle-right:hover{
    width: 320px;
    height: 320px;
  }

  .circle p{
    margin:auto;
  }
}

@media (max-width:815px){
  header{
    text-align: center;
  }
  .title{
    float: none;
  }
  .top{
    padding-bottom: 0px;
  }
}

@media (max-width:540px) {
  .chelsey{
    font-size: 4em;
      text-align: center;
  }
  .title{
    padding: 10px;
    font-size: 2em;
  }
  #circle-left:hover{
    width: 275px;
    height: 275px;
  }
  #circle-center:hover{
    width: 275px;
    height: 275px;
  }
  #circle-right:hover{
    width: 275px;
    height: 275px;
  }
}


@media(max-width:350px){
  p{
    font-size: .75em;
  }
  #circle-left{
    width: 200px;
    height: 200px;
  }
  #circle-center{
    width: 200px;
    height: 200px;
  }
  #circle-right{
    width: 200px;
    height: 200px;
  }
  #circle-left:hover{
    width: 200px;
    height: 200px;
  }
  #circle-center:hover{
    width: 200px;
    height: 200px;
  }
  #circle-right:hover{
    width: 200px;
    height: 200px;
  }
}
