@media (max-width:1000px) {
  .img-container-left{
    width: 100%;
    height: 500px;
  }

  .img-container-right{
    width: 100%;
    height: 500px;
  }
}

@media (max-width:850px){
  .details {
    opacity: 1;
  }
  .details li{
    filter: none;
  }
  .img-container-left{
    width: 100%;
    height: 400px;
  }

  .img-container-right{
    width: 100%;
    height: 400px;
  }
}

@media (max-width:630px){
  .img-container-left{
    width: 100%;
    height: 300px;
  }

  .img-container-right{
    width: 100%;
    height: 300px;
  }
}


@media (max-width:500px){

  .img-container-left{
    width: 100%;
    height: 200px;
  }

  .img-container-right{
    width: 100%;
    height: 200px;
  }
}

@media (max-width:300px){
  .img-container-left{
    width: 100%;
    height: 150px;
  }

  .img-container-right{
    width: 100%;
    height: 150px;
  }
  .details li{
    font-size: 1em;
    border: 1ps solid green;

    }
}
