@media (max-width:1360px) {
  .photo img{
    display: none;

  }
}

@media (max-width:1000px) {
  .contact-me{
    display: inline;
  }
  .contact{
    display: none;
  }

}
@media (max-width: 780px) {

  .reg-head  li{
    float: none;
    padding: 5px;
    border-bottom: none;
  }

  .reg-head p{
    float: none;
    height: 22px;
    padding-bottom: 15px;
    font-weight: bold;
  }

  .who-head .who{
    float: none;
    padding: 5px;
    border-bottom: none;
  }

  .what:hover{
    border-bottom: none;
  }

  .how:hover{
    border-bottom: none;
  }
  .contact-me:hover{
    border-bottom: none;
  }

}
 @media (max-width: 500px){
 }
